section:nth-child(even) {
	background: #fff;
}
section .row div[class^="col-"]:first-child > h2 {
	text-transform: capitalize;
	font-size: 25px;
	font-weight: 800;
	position: relative;
	background: #fff;
}
section .row div[class^="col-"]:first-child > h2:after {
	content: '';
	height: 1px;
	background: #ccc;
	position: absolute;	
	left: 0;
	right: 0;
	bottom: -10px;
}
#particles-js {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -2;
}
section.home-banner {
	height: calc(100vh - 60px);
	width: 100%;
	overflow: hidden;
}
section.home-banner:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: auto 100%;
	background-image: url('../img/home-bg.svg');
	background-repeat: no-repeat;
	z-index: -1;
}
h1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.2;
}
section.home-banner p {
	color: rgba(75,75,75,0.85);
	font-weight: 600;
	font-size: 24px;
}
section.home-banner .title-desc {
	margin-top: 70%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
section.home-banner.bg-right:after {
	background-position: 50vw top;
}
.home-img {
	position: relative;
	margin-top: 50%;
	-webkit-transform: translateY(-30%);
	-ms-transform: translateY(-30%);
	-o-transform: translateY(-30%);
	transform: translateY(-30%);
}
.home-img img {
	display: inline-block;
	width: 140%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center 10px;
}
/* BANNER DESKTOP RESPONSIVE */
@media (max-width: 1920px) {
	section.home-banner.bg-right:after {
		background-position: 30vw top;
	}
}
@media (max-width: 1657px) {
	.home-img img {
		width: 120%;
	}
}
@media (max-width: 1600px) {
	section.home-banner.bg-right:after {
		background-position: 30vw top;
	}
}
@media (max-width: 1440px) {
	.home-img img {
		width: 110%;
	}
}
@media (max-width: 1377px) {
	.home-img {
		margin-top: 40%;
	}
	section.home-banner .title-desc {
		margin-top: 50%;
	}
}
@media (max-width: 1292px) {
	.home-img img {
		width: 100%;
	}
	section.home-banner p {
		font-size: 22px;
	}
}
@media (max-height: 1080px) {
	.home-img {
		margin-top: 60%;
	}
	section.home-banner .title-desc {
		margin-top: 70%;
	}
}
@media (max-height: 950px) {
	.home-img {
		margin-top: 50%;
	}
	section.home-banner .title-desc {
		margin-top: 60%;
	}
}
@media (max-height: 768px) {
	.home-img {
		margin-top: 40%;
	}
	section.home-banner .title-desc {
		margin-top: 50%;
	}
}
/* BANNER MOBILE RESPONSIVE */
@media (max-width: 1024px) and (orientation: portrait) {
	.home-img-wrap,
	.home-text-wrap {
		float: none;
		width: 100%;
		left: auto;
		right: auto;
	}
	section.home-banner.bg-right:after {
		-webkit-transform: scaleX(-1);
		-ms-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	.home-img {
		margin-top: 22%;
		margin-bottom: 30px;
		text-align: center;
	}
	.home-img img {
		width: 60%;
	}
	section.home-banner .title-desc {
		margin-top: 0;
		text-align: center;
	}
	section.home-banner p {
		font-size: 30px;
		margin-bottom: 30px;
	}
}
@media (max-width: 991px) {
	section.home-banner.bg-right:after {
		-webkit-transform: scaleX(-1);
		-ms-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	.home-img {
		margin-top: 22%;
		margin-bottom: 30px;
		text-align: center;
	}
	.home-img img {
		width: 60%;
	}
	section.home-banner .title-desc {
		margin-top: 0;
	}
}
@media (max-width: 767px) {
	.home-img {
		margin-top: 26%;
	}
	.home-img img {
		width: 80%;
	}
	section.home-banner.bg-right:after {
		background-position:  20vw top;
	}
	section.home-banner p {
		font-size: 20px;
		margin-bottom: 30px;
	}
}


section.logo p {
	margin-bottom: 10px;
	text-transform: capitalize;
}
section.logo div[class^="bg-"] {
	padding: 10px;
	margin-bottom: 10px;
}
section.logo div[class^="bg-"] > .btn {
	display: block;
	border: 0;
	background: transparent;
	margin: 0;
	padding: 0;
}
section.logo div[class^="bg-"] > .btn img {
	width: 100%;
}

.color-palette {
	padding: 0;
	margin: 0;
}
.color-palette li {
	display: inline-block;
	margin: 0 15px 15px 0;
}
.color-item {
	background: #fff;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
	padding: 7px;
	text-align: center;
	min-width: 150px;
}
.color-item .color-box {
	width: 100%;
	height: 100px;
}
.color-item p {
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 13px;
}
.color-item p:first-child {
	margin-bottom: 2px;
}
.color-item p strong {
	font-size: 16px;
}
.color-item p span {
	color: #ababab;
	margin-right: 5px;
	font-weight: 800;
}
.color-item.gradient p:last-child {
	text-transform: none;
}
.typography p {
	margin-bottom: 10px;
}
.typography p em {
	color: #ababab;
	margin-left: 15px;	
}
section p.font-name {
	font-size: 30px;
	margin-bottom: 3rem;
}