section.subpage-banner {
	background-position: center center;
}
.subpage-banner ul {
	list-style: none;
	margin-bottom: 30px;
}
.subpage-banner ul li {
	display: inline-block;
	margin-right: 20px;
	font-size: 24px;
	font-weight: 300;
}
.subpage-banner ul li:last-child {
	margin-right: 0;
}
.subpage-banner ul li span {
	display: inline-block;
	margin-right: 15px;
	font-weight: bold;
	/* text-shadow: 0 0 5px #FFF; */
	/* animation: tada 1s infinite; */
}

@media (max-width: 1545px) {
	.subpage-banner.pb200 {
		padding-bottom: 150px;
	}
}
@media (max-width: 1285px) {
	section.help-diamond.ptb80 {
		padding: 50px 0;
		background-position: 90% center;
	}
	.subpage-banner.pb200 {
		padding-bottom: 120px;
	}
}
@media (max-width: 992px) {
	section.subpage-banner {
		background-size: cover;
		background-position: center center;
	}
	.subpage-banner h1 {
		font-size: 35px;
	}
	.subpage-banner ul li {
		font-size:  20px;
	}
}
@media (max-width: 660px) {
	.subpage-banner.pb200 {
		padding-bottom: 40px;
	}
	.subpage-banner ul {
		margin-bottom: 20px;
	}
	.subpage-banner ul li {
		margin-bottom: 20px;
	}
	.subpage-banner ul li:nth-child(2) {
		margin-right: 0;
	}
}

/* PLANS */
section.plans-container {
	margin: -10% 0 0;
	background: transparent;
}
.plans-wrap {
	display: table;
	width: 100%;
}
.plans-item {
	display: table-cell;
	vertical-align: top;
	background-color: #fff;
	-webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
	text-align: center;
	padding-top: 10px;
	border: 1px solid #ebebeb;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.plans-item > *:not(a) {
	padding: 0 15px;
}
.plans-item p {
	font-size: 12px;
	margin-bottom: 0;
}
.standard .plans-wrap > div:first-child .plan-price + p{
	visibility: hidden;
}
.plans-wrap > div .plan-price + p {
	margin-bottom: 16px;
	line-height: 1.2;
}
.plans-item .plan-radio input {
	display: inline;
	opacity: 0;
	width: 0;
	margin: 0;
	overflow: hidden;
	appearance: none;
	-webkit-appearance: none;
}
.plans-item .plan-radio label {
	font-size: 24px;
	font-weight: 900;
	display: block;
	position: relative;
	padding: 5px 10px;
	text-transform: uppercase;
	color: #027faa;
	margin-bottom: 0;
}
.premium .plans-item .plan-radio label {
	color: #ff6b00;
}
.premium.light-blue .plans-item .plan-radio label {
	color: #1195bb;
}
.premium.green .plans-item .plan-radio label {
	color: #68b205;
}
.plans-item .plan-radio label:before,
.plans-item .plan-radio label:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	transition: border-color 200ms ease, -webkit-transform 200ms ease;
	transition: transform 200ms ease, border-color 200ms ease;
	transition: transform 200ms ease, border-color 200ms ease, -webkit-transform 200ms ease;
}
.plans-item .plan-radio label:before {
	left: 0;
	top: 10px;
	width: 20px;
	height: 20px;
	border: 2px solid #dbdbdb;
}
.plans-item .plan-radio label:after {
	top: 15px;
	left: 5px;
	width: 10px;
	height: 10px;
	-webkit-transform: scale(0);
	transform: scale(0);
	background-color: #027faa;
}
.premium .plans-item .plan-radio label:after {
	background-color: #ff6b00;
}
.premium.green .plans-item .plan-radio label:after {
	background-color: #68b205;
}
.premium.light-blue .plans-item .plan-radio label:after {
	background-color: #1195bb;
}
.plans-item .plan-radio .radio:checked + label:before {
	border-color: #027faa;
}
.premium .plans-item .plan-radio .radio:checked + label:before {
	border-color: #ff6b00;
}
.premium.light-blue .plans-item .plan-radio .radio:checked + label:before {
	border-color: #1195bb;
}
.premium.green .plans-item .plan-radio .radio:checked + label:before {
	border-color: #68b205;
}
.plans-item .plan-radio .radio:checked + label:after {
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.plans-item .plan-price {
	margin-bottom: 10px;
}
.plans-item .plan-price p {
	font-size: 32px;
	font-weight: 400;
}
.plans-item .plan-price p span {
	font-size: 14px;
	margin-left: -8px;
}
.plans-item a {
	margin: 0;
	display: block;
	border-radius: 0;
	-webkit-border-radius: 0;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.premium .plans-item a {
	background: #747d82;
}
.plans-item.active {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	position: relative;
	z-index: 1;
}
.plans-item.active a{
	background: #ff6b00;
}
.green .plans-item.active a {
	background: #68b205;
}
.light-blue .plans-item.active a {
	background: #1195bb;
}

/* PLAN FEATURES */
section.plan-features {
	background-color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.plan-feature-col {
	padding: 0 7px;
}
.plan-feature-col .plan-feature-wrap {
	border:  1px solid #1195bb;
}
.premium .plan-feature-col .plan-feature-wrap {
	border:  1px solid #747d82;
}
.plan-feature-col .plan-feature-wrap p {
	color: #015883;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	top: -16px;
	display: inline-block;
	z-index: 1;
	margin-left: 15px;
	margin-bottom: 0;
}
.premium.light-blue .plan-feature-col .plan-feature-wrap p {
	color: #1195bb;
}
.plan-feature-col .plan-feature-wrap p span {
	position: relative;
}
.plan-feature-col .plan-feature-wrap p span:after {
	content: '';
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.plan-feature-col .plan-feature-wrap ul,
.advance-plan-features ul {
	list-style: none;
	padding-left: 17px;
	height: 340px;
}
.premium .plan-feature-col .plan-feature-wrap ul {
	height: 620px;
}
.plan-feature-col .plan-feature-wrap ul li,
.advance-plan-features ul li {
	margin-bottom: 12px;
	position: relative;
	padding-left: 25px;
}
.plan-feature-col .plan-feature-wrap ul li:before,
.advance-plan-features ul li:before {
	content: '\e91e';
	font-family: 'icomoon';
	color: #1d8db1;
	margin-right: 10px;
	position: absolute;
	left: 0;
	top: 3px;
}
.premium .plan-feature-col .plan-feature-wrap ul li:before,
.premium .advance-plan-features ul li:before {
	color: #1196ba;
}
.premium.light-blue .plan-feature-col .plan-feature-wrap ul li:before,
.premium.light-blue .advance-plan-features ul li:before {
	color: rgba(17, 149, 187, 0.4);
}
.plan-features .container .row > div:nth-child(2) ul,
.advance-plan-features ul{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-moz-column-fill: auto;
	column-fill: auto;
}
.plan-feature-col .plan-feature-wrap ul li.inactive,
.plan-feature-col .plan-feature-wrap ul li.inactive:before {
	color: #ccc;
	cursor: not-allowed;
}
section.compare-trigger {
	text-align: center;
	background: #fff;
}
.compare-trigger a {
	display: inline-block;
	text-decoration: underline;
	text-transform: uppercase;
	color: #015883;
	font-weight: 700;
	font-size: 15px;
}
section.advance-plan-features-wrap {
	background: #fff;
}
.advance-plan-features-wrap .plans-wrap {
	width: 41.66666667%;
	border-collapse: separate;
	border-spacing: 10px 0;
	table-layout: fixed;
}
.advance-plan-features-wrap .plans-wrap .plans-item {
	margin-right: 10px;
}
.advance-plan-features {
	background: #fff;
	border-top: 4px solid #1195bb;
	padding: 20px 20px 15px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
}
.advance-plan-features ul {
	height: auto;
}
.advance-plan-features-wrap .plans-wrap .plans-item .plan-radio label {
	font-size: 16px;
}
.advance-plan-features-wrap .plans-wrap .plans-item .plan-radio label:before {
	top: 8px;
	width: 16px;
	height: 16px;
}
.advance-plan-features-wrap .plans-wrap .plans-item .plan-radio label:after {
	top: 12px;
	left: 4px;
	width: 8px;
	height: 8px;
}
.advance-plan-features-wrap .plans-wrap .plans-item > *:not(a){
	padding: 0 10px;
}
.advance-plan-features-wrap .plans-wrap .plans-item .plan-price {
	margin-bottom: 2px;
}
.advance-plan-features-wrap .plans-wrap > div:first-child .plan-price + p {
	visibility: visible;
}

@media (max-width: 1199px) {
	.plan-feature-col .plan-feature-wrap p {
		font-size: 17px;
		margin-left: 12px;	
	}
	.plan-feature-col .plan-feature-wrap ul {
		height: 370px;	
	}
	.advance-plan-features-wrap .plans-wrap .plans-item .plan-radio label {
		height: 48px;
	}
	section.plans-container {
		padding-bottom: 0;
		margin-top: -13%;
	}
}
@media (max-width:1100px) {
	.plans-item .plan-price {
		margin-bottom: 0;
	}
}
@media (max-width: 991px) {
	.plan-features .container .row > div  ul,
	.advance-plan-features ul{
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-moz-column-fill: auto;
		column-fill: auto;
		height: auto;
	}
	.plan-feature-col .plan-feature-wrap {
		margin-bottom: 30px;
		padding-bottom: 10px;
	}
	.plans-item .plan-radio label {
		font-size: 20px;
	}
	.plans-item .plan-radio label:before {
		top: 7px;
	}
	.plans-item .plan-radio label:after {
		top: 12px;
	}
	.advance-plan-features-wrap .plans-wrap {
		width: 80%;
		margin: 0 auto 30px;
	}
	.advance-plan-features-wrap .container .row > div:last-child {
		float: none;
		margin: auto;
	}
	.advance-plan-features-wrap .plans-wrap .plans-item .plan-radio label {
		height: 28px;
	}
}
@media (max-width: 884px) {
	section.plans-container {
		margin-top: -15%;
	}
	.plan-features {
		padding-bottom: 10px;
	}
}
@media (max-width: 767px) {
	.advance-plan-features-wrap .plans-wrap {
		width: 100%;
	}
	.plans-item a {
		font-size: 14px;
	}
	.plans-item > *:not(a) {
		padding: 0 11px;
	}
	.plans-item .plan-radio label {
		font-size: 18px;
	}
}
@media (max-width: 660px) {
	section.plans-container {
		margin: auto;
	}
	.plans-wrap {
		display: block;
	}
	.plans-item {
		display: table;
		width: 100%;
		padding-top: 0;
		margin-bottom: 15px;
	}
	.plans-item > * {
		display: table-cell;
		vertical-align: middle;
	}
	.plans-item > a {
		width: 100px;
		float: right;
		height: 95px;
		line-height: 1.3;
	}
	.plans-item > a:before {
		content: '';
		display: inline-block;
		margin-top: 40%;
	}
	.plans-item .plan-radio label {
		font-size: 20px;
	}
	.plans-item.active {
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.plans-item .plan-price-name {
		text-align: left;
		padding-left: 50px;
		width: 240px;
	}
	.plans-item .plan-radio label {
		padding: 0;
	}
	.plans-item .plan-radio label:before {
		left: -30px;
	}
	.plans-item .plan-radio label:after {
		left: -25px;
	}
	.standard .plans-wrap > div:first-child .plan-price + p{
		display: block;
	}
	.advance-plan-features-wrap.pt40 {
		padding-top: 0;
	}
	.advance-plan-features-wrap .plans-wrap {
		border-collapse: collapse;
	}
	.advance-plan-features-wrap .plans-wrap .plans-item .plan-radio label:before {
		top: 2px;
		left: 0;
	}
	.advance-plan-features-wrap .plans-wrap .plans-item .plan-radio label:after {
		top: 6px;
	}
	.advance-plan-features-wrap .plans-wrap .plans-item .plan-radio label {
		padding-left: 30px;
	}
	.advance-plan-features-wrap .plans-wrap .plans-item > div:first-child {
		width: 240px;
		text-align: left;
	}
}
@media (max-width: 587px) {
	.advance-plan-features-wrap .plans-wrap .plans-item > div:first-child,
	.plans-item .plan-price-name {
		width: 170px;
	}
}


/* HELP DIAMOND */

section.help-diamond {
	background-position: 85% center;
	background-size: auto 100%;
	background-repeat: no-repeat;
}
.help-diamond a {
	text-transform: uppercase;
}
.help-diamond h2 {
	font-size: 37px;
	margin-bottom: 24px;
}
.help-diamond p {
	font-size: 22px;
	line-height: 1.2;
}

@media (max-width: 1675px) {
	section.help-diamond {
		background-position: 95% center;
	}
}
@media (max-width: 1675px) {
	section.help-diamond.ptb80 {
		padding: 60px 0;
		background-position: 95% center;
	}
}
@media (max-width: 1285px) {
	.help-diamond h2 {
		font-size: 32px;
	}
	.help-diamond p {
		font-size: 20px;
	}
}
@media (max-width: 1199px) {
	section.help-diamond.ptb80 {
		background-position: 98% center;
	}
}
@media (max-width: 1189px) {
	.help-diamond h2 {
		font-size: 30px;
	}
	section.help-diamond.ptb80 {
		padding: 50px 0;
	}
}
@media (max-width:1060px) {
	section.help-diamond.ptb80 {
		background-position: 110% center;
	}
	.help-diamond a.btn-l {
		font-size: 15px;
	}
}
@media (max-width:991px) {
	.help-diamond h2 {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.help-diamond p {
		font-size: 14px;
	}
}
@media (max-width: 968px) {
	section.help-diamond.ptb80 {
		padding: 40px 0;
	}
	.help-diamond a.btn-l {
		font-size: 14px;
		padding: 8px 15px;
	}
}
@media (max-width: 809px) {
	section.help-diamond.ptb80 {
		background-position: 114% center;
	}
}
@media (max-width: 767px) {
	section.help-diamond.ptb80 {
		background-image:  none !important;
		padding: 0;
		text-align: center;
	}
	.help-diamond .container .row > div:last-child {
		padding: 20px 0 30px;
	}
	.help-diamond img {
		width: 80%;
	}
}


/* 4 COLUMN ICONS */
.icon-grid-style1 {
	text-align: center;
}
.icon-grid-style1 h2 {
	color: #1197ba;
	font-size:  18px;
	font-weight: 700;
	text-transform: uppercase;
}
.icon-grid-style1 > span[class^="icon-"] {
	display: inline-block;
	font-size: 90px;
	margin-bottom: 20px;
}
.icon-grid-style1 p {
	line-height: 1.2;
	font-size: 15px;
}
.icon-grid-style1 p a {
	color: #1196ba;
	text-decoration: underline;
	font-weight: 600;
}

@media (max-width: 1189px) {
	.icon-grid-style1 h2 {
		height: 38px;
	}
}
@media (max-width:991px) {
	.icon-grid-style1 {
		margin-bottom: 30px;
	}
}
@media (max-width: 767px) {
	.icon-grid-style1 h2 {
		margin-bottom: 20px;
	}
}

/* COMPARE TABLE */
section.compare-table {
	background-color: #fff;
}
.compare-table-wrap {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.compare-table-col {
	display: table-cell;
	vertical-align: middle;
}
.compare-table-col p {
	margin: 0;
}
.compare-table-col p span[class^="icon-"] {
	font-size: 23px;
}
.compare-table-col p span.icon-close-circle {
	color: #dfe1ee;
}
.compare-table-col p span.icon-check-mark-button {
	color: #3fb6d8;
}
.compare-table-plan-name {
	text-align: center;
	text-transform: capitalize;
}
.table-plan-name {
	color:#015883;
	font-size: 20px;
	margin-bottom: 0;
}
.light-blue .table-plan-name {
	color: #1195bb;
}
.table-plan-price {
	color:#2a2a2a;
	font-size:40px;
}
.table-plan-price span {
	font-weight: 300;
	font-size: 19px;
}
.compare-table-top > div:first-child  {
	vertical-align: bottom;
}
.compare-table-top > div:first-child > p {
	font-weight: 900;
	font-size:18px;
	color:#282828;
	text-transform: uppercase;
}
.compare-table-wrap > div:first-child {
	width: 260px;
}
.compare-table-collapse {
	display: block;
	text-transform: uppercase;
	background: #ebf8fb;
	padding: 10px 18px 10px 10px;
	font-size: 15px;
	font-weight: 600;
	color: #015883;
	margin-bottom: 10px;
}
.compare-table-collapse:focus,
.compare-table-collapse:hover,
.compare-table-col a,
.compare-table-col a:hover,
.compare-table-col a:focus {
	outline: none;
	text-decoration: none;
}
.compare-table-collapse:after {
	content:'\f0d8';
	float:right;
	color: #015883;
	font-family:'fontawesome';
	font-size: 20px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.compare-table-collapse.collapsed:after {
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}
.compare-table-mid {
	border-bottom: 1px solid #eef2ff;
	padding: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.compare-table-mid:hover {
	background: rgba(0,0,0,0.02);
}
.collapse > div:last-child {
	border-bottom: 0;
}
.compare-table-mid .compare-table-col {
	text-align: center;
	font-size: 15px;
}
.compare-table-mid > div:first-child {
	text-align:left;
}
.compare-table-mid > div:first-child * {
	display: inline-block;
}
.compare-table-info {
	color: #484848;
	width: 23px;
	height: 22px;
	border: 1px solid #484848;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	text-align: center;
	float: right;
	line-height: 1.3;
}
@media (max-width: 992px) {
	.table-plan-price {
		font-size: 20px;
	}
	.table-plan-price span {
		font-size: 12px;
	}
}
@media (max-width: 768px) {
	section.compare-table {
		display: none;
	}
}