section {
	position: relative;
}
section p.desc {
	margin: 0;
	padding: 0;
	font-style: italic;
	font-size: 12px;
	font-weight: 900;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}
section:nth-child(even) {
	background: #f5f5f5;
}

/* ----- ADD BOOTSTRAP WIDTH FOR MOBILE SIZE ----- */
@media (max-width: 576px) {
	.container {
		max-width: 540px;
	}
	.col-xxs-1 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}
	.col-xxs-1,
	.col-xxs-2,
	.col-xxs-3,
	.col-xxs-4,
	.col-xxs-5,
	.col-xxs-6,
	.col-xxs-7,
	.col-xxs-8,
	.col-xxs-9,
	.col-xxs-10,
	.col-xxs-11,
	.col-xxs-12 {
		float: left;
	}
	.col-xxs-12 {
		width: 100%;
	}
	.col-xxs-11 {
		width: 91.66666667%;
	}
	.col-xxs-10 {
		width: 83.33333333%;
	}
	.col-xxs-9 {
		width: 75%;
	}
	.col-xxs-8 {
		width: 66.66666667%;
	}
	.col-xxs-7 {
		width: 58.33333333%;
	}
	.col-xxs-6 {
		width: 50%;
	}
	.col-xxs-5 {
		width: 41.66666667%;
	}
	.col-xxs-4 {
		width: 33.33333333%;
	}
	.col-xxs-3 {
		width: 25%;
	}
	.col-xxs-2 {
		width: 16.66666667%;
	}
	.col-xxs-1 {
		width: 8.33333333%;
	}
	.col-xxs-pull-12 {
		right: 100%;
	}
	.col-xxs-pull-11 {
		right: 91.66666667%;
	}
	.col-xxs-pull-10 {
		right: 83.33333333%;
	}
	.col-xxs-pull-9 {
		right: 75%;
	}
	.col-xxs-pull-8 {
		right: 66.66666667%;
	}
	.col-xxs-pull-7 {
		right: 58.33333333%;
	}
	.col-xxs-pull-6 {
		right: 50%;
	}
	.col-xxs-pull-5 {
		right: 41.66666667%;
	}
	.col-xxs-pull-4 {
		right: 33.33333333%;
	}
	.col-xxs-pull-3 {
		right: 25%;
	}
	.col-xxs-pull-2 {
		right: 16.66666667%;
	}
	.col-xxs-pull-1 {
		right: 8.33333333%;
	}
	.col-xxs-pull-0 {
		right: auto;
	}
	.col-xxs-push-12 {
		left: 100%;
	}
	.col-xxs-push-11 {
		left: 91.66666667%;
	}
	.col-xxs-push-10 {
		left: 83.33333333%;
	}
	.col-xxs-push-9 {
		left: 75%;
	}
	.col-xxs-push-8 {
		left: 66.66666667%;
	}
	.col-xxs-push-7 {
		left: 58.33333333%;
	}
	.col-xxs-push-6 {
		left: 50%;
	}
	.col-xxs-push-5 {
		left: 41.66666667%;
	}
	.col-xxs-push-4 {
		left: 33.33333333%;
	}
	.col-xxs-push-3 {
		left: 25%;
	}
	.col-xxs-push-2 {
		left: 16.66666667%;
	}
	.col-xxs-push-1 {
		left: 8.33333333%;
	}
	.col-xxs-push-0 {
		left: auto;
	}
	.col-xxs-offset-12 {
		margin-left: 100%;
	}
	.col-xxs-offset-11 {
		margin-left: 91.66666667%;
	}
	.col-xxs-offset-10 {
		margin-left: 83.33333333%;
	}
	.col-xxs-offset-9 {
		margin-left: 75%;
	}
	.col-xxs-offset-8 {
		margin-left: 66.66666667%;
	}
	.col-xxs-offset-7 {
		margin-left: 58.33333333%;
	}
	.col-xxs-offset-6 {
		margin-left: 50%;
	}
	.col-xxs-offset-5 {
		margin-left: 41.66666667%;
	}
	.col-xxs-offset-4 {
		margin-left: 33.33333333%;
	}
	.col-xxs-offset-3 {
		margin-left: 25%;
	}
	.col-xxs-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-xxs-offset-1 {
		margin-left: 8.33333333%;
	}
	.col-xxs-offset-0 {
		margin-left: 0;
	}
}

/* ----- GENERAL STYLES ----- */

.ease {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
body {
	font: 400 16px 'Lato', sans-serif;
	color: #484848;
	margin: 0;
}

section {
	padding: 40px 0;
}

section.p0 {
	padding: 0;
}

section.p50 {
	padding: 50px 0;
}

section.p60 {
	padding: 60px 0;
}

section.p70 {
	padding: 70px 0;
}

section.p80 {
	padding: 80px 0;
}
section.with-slider {
	overflow: hidden;
	position: relative;
}
section.image-bg {
	background-size: cover;
	background-position: center center;
}

@media (max-width:720px) {
	section.image-bg.bg-sp-left {
		background-position: left center;
	}
	section.image-bg.bg-sp-right {
		background-position: right center;
	}
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-bottom: 32px;
	font-weight: 900;
}

h1 {font-size: 40px;}
h2 {font-size: 32px;}
h3 {font-size: 25px;}
h4 {font-size: 20px;}
h5 {font-size: 17px;}

@media (max-width:1170px) {
	h1 {font-size: 38px;}
	h2 {font-size: 30px;}
	h3 {font-size: 23px;}
	h4 {font-size: 18px;}
	h5 {font-size: 15px;}
}

@media (max-width:970px) {
	h1 {font-size: 36px;}
	h2 {font-size: 28px;}
	h3 {font-size: 21px;}
	h4 {font-size: 16px;}
	h5 {font-size: 15px;}
}

@media (max-width:720px) {
	h1 {font-size: 34px;}
	h2 {font-size: 26px;}
	h3 {font-size: 20px;}
}

@media (max-width:540px) {
	h1 {font-size: 32px;}
	h2 {font-size: 24px;}
	h3 {font-size: 18px;}
}


p {
	padding: 0;
	margin: 0 0 32px;
	line-height: 1.6;
}

p.w960 {
	max-width: 960px;
	margin: 0 auto 32px;
}

p.w920 {
	max-width: 920px;
	margin: 0 auto 32px;
}

p.w900 {
	max-width: 900px;
	margin: 0 auto 32px;
}

section p:last-child {
	margin-bottom: 0;
}

@media (max-width:992px) {
	body {
		font-size: 14px;
	}
	p {
		margin-bottom: 24px;
	}
	p.w960 {
		max-width: 100%;
		margin: 0 auto 24px;
	}

	p.w920 {
		max-width: 100%;
		margin: 0 auto 24px;
	}

	p.w900 {
		max-width: 100%;
		margin: 0 auto 24px;
	}
}
@media (max-width:768px) {
	body {
		font-size: 12px;
	}
	p {
		margin-bottom: 16px;
	}
	section.p50 {
		padding: 40px 0;
	}
	section.p60 {
		padding: 50px 0;
	}
	section.p70 {
		padding: 60px 0;
	}
	section.p80 {
		padding: 70px 0;
	}
}
@media (max-width: 576px) {
	section.p50,
	section.p60,
	section.p70,
	section.p80 {
		padding: 40px 0;
	}
}

.wistia_embed {
	width: 100%;
	height: 100%;
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important;
	-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important;
}

/* ----- BUTTON STYLES ----- */

.ripple {
  position: absolute;
  border-radius: 100%;
  -webkit-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  opacity:0;
  pointer-events: none;
  -webkit-animation: ripple .75s ease-out;
  -moz-animation: ripple .75s ease-out;
  animation: ripple .75s ease-out;
}

@-ms-keyframes ripple {
  from {opacity:0.25;}
  to {-webkit-transform: scale(2);-ms-transform: scale(2);-o-transform: scale(2);transform: scale(2); opacity: 0;}
}

@-webkit-keyframes ripple {
  from {opacity:0.25;}
  to {-webkit-transform: scale(2);-ms-transform: scale(2);-o-transform: scale(2);transform: scale(2); opacity: 0;}
}

@-moz-keyframes ripple {
  from {opacity:0.25;}
  to {-webkit-transform: scale(2);-ms-transform: scale(2);-o-transform: scale(2);transform: scale(2); opacity: 0;}
}

@keyframes ripple {
  from {opacity:0.25;}
  to {-webkit-transform: scale(2);-ms-transform: scale(2);-o-transform: scale(2);transform: scale(2); opacity: 0;}
}

.btn {
	display: inline-block;
	overflow: hidden;
	position: relative;
	border: 1px solid transparent;
	background: #005883;
	color: #fff;
	margin: 0 10px 10px 0;
	padding: 8px;
	font-size: 16px;
	line-height: 1;
	touch-action: unset;
	white-space: unset;
	user-select:  unset;
	outline: 0 none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn-sns {
	width: 36px;
	height: 36px;
	font-size: 15px;
}

.btn-fb {
	background: #3b5998;
}

.btn-tweet {
	background: #55acee;
}

.btn-yt {
	background: #dd4b39;
}

.btn-lin {
	background: #2e5e86;
}

.btn .ripple {
	background: #005883;
}

.btn:hover,
.btn:focus {
	background: #013c59;
	color: #fff;
	outline: 0 none;
}

.btn.btn-line {
	background: #fff;
	color: #005883;
	border-color: #005883;
}

.btn.btn-line:hover {
	background: #005883;
	color: #fff;
	border-color: transparent;
}

.btn.blue {
	background: #027faa;
	color: #fff;
}

.btn.blue .ripple {
	background: #027faa;
}

.btn.blue:hover {
	background: #015883;
}

.btn.btn-line.blue {
	background: transparent;
	color: #027faa;
	border-color: #027faa;
}

.btn.btn-line.blue:hover {
	background: #027faa;
	color: #fff;
	border-color: transparent;
}

.btn.light-blue {
	background: #1196ba;
	color: #fff;
}

.btn.light-blue .ripple {
	background: #1196ba;
}

.btn.light-blue:hover {
	background: #02769e;
}

.btn.btn-line.light-blue {
	background: transparent;
	color: #1196ba;
	border-color: #1196ba;
}

.btn.btn-line.light-blue:hover {
	background: #1196ba;
	color: #fff;
	border-color: transparent;
}

.btn.extra-light-blue {
	background: #3fcaeb;
	color: #fff;
}

.btn.extra-light-blue .ripple {
	background: #3fcaeb;
}

.btn.extra-light-blue:hover {
	background: #1195bb;
}

.btn.btn-line.extra-light-blue {
	background: transparent;
	color: #3fcaeb;
	border-color: #3fcaeb;
}

.btn.btn-line.extra-light-blue:hover {
	background: #3fcaeb;
	color: #fff;
	border-color: transparent;
}

.btn.orange {
	background: #ff7510;
	color: #fff;
}

.btn.orange .ripple {
	background: #ff7510;
}

.btn.orange:hover {
	background: #ee5921;
}

.btn.btn-line.orange {
	background: transparent;
	color: #ff7510;
	border-color: #ff7510;
}


.btn.btn-line.orange:hover {
	background: #ff7510;
	color: #fff;
	border-color: transparent;
}

.btn.light-orange {
	background: #ff9750;
	color: #fff;
}

.btn.light-orange .ripple {
	background: #ff9750;
}

.btn.light-orange:hover{
	background: #ff7510;
}

.btn.btn-line.light-orange {
	background: transparent;
	color: #ff9750;
	border-color: #ff9750;
}

.btn.btn-line.light-orange:hover {
	background: #ff9750;
	color: #fff;
	border-color: transparent;
}

.btn.green {
	background: #68b205;
	color: #fff;
}

.btn.green .ripple {
	background: #68b205;
}

.btn.green:hover {
	background: #4c8204;
}

.btn.btn-line.green {
	background: transparent;
	color: #68b205;
	border-color: #68b205;
}

.btn.btn-line.green:hover {
	background: #68b205;
	color: #fff;
	border-color: transparent;
}

.btn.light-green {
	background: #96d42b;
	color: #fff;
}

.btn.light-green .ripple {
	background: #96d42b;
}

.btn.light-green:hover {
	background: #68b205;
}

.btn.btn-line.light-green {
	background: transparent;
	color: #96d42b;
	border-color: #96d42b;
}

.btn.btn-line.light-green:hover {
	background: #96d42b;
	color: #fff;
	border-color: transparent;
}

.btn.black {
	background: #20282b;
	color: #fff;
}

.btn.black .ripple {
	background: #20282b;
}

.btn.black:hover {
	background: #000;
}

.btn.btn-line.black {
	background: transparent;
	color: #20282b;
	border-color: #20282b;
}

.btn.btn-line.black:hover {
	background: #20282b;
	color: #fff;
	border-color: transparent;
}

.btn.gray {
	background: #747d82;
	color: #fff;
}

.btn.gray .ripple {
	background: #747d82;
}

.btn.gray:hover {
	background: #5c6468;
}

.btn.btn-line.gray {
	background: transparent;
	color: #747d82;
	border-color: #747d82;
}

.btn.btn-line.gray:hover {
	background: #747d82;
	color: #fff;
	border-color: transparent;
}

.btn.btn-line .ripple,
.btn.blue.btn-line .ripple,
.btn.light-blue.btn-line .ripple,
.btn.extra-light-blue.btn-line .ripple,
.btn.orange.btn-line .ripple,
.btn.light-orange.btn-line .ripple,
.btn.green.btn-line .ripple,
.btn.light-green.btn-line .ripple,
.btn.black.btn-line .ripple,
.btn.gray.btn-line .ripple {
	background: #fff;
}

.btn-xl {
	font-size: 22px;
	padding: 12px 24px;
}

.btn-l {
	font-size: 18px;
	padding: 10px 22px;
}

.btn-m {
	font-size: 14px;
	padding: 8px 16px;
}

.btn-s {
	font-size: 12px;
	padding: 6px 14px;
}

.btn-xs {
	font-size: 12px;
	padding: 4px 8px;
}



/* ----- MODALS ----- */
body.scrollable {
	overflow-y: auto;
}
.fade {
	-webkit-transition: opacity .15s linear;
	-ms-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}

@media screen and (prefers-reduced-motion:reduce) {
	.fade {
		transition: none;
	}
}

.modal-dialog {
	top: 50%;
}

.modal.fade .modal-dialog {
	transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	transition: transform .3s ease-out,-webkit-transform .3s ease-out;
	-webkit-transform: translate(0,-50px);
	transform: translate(0,-50px)
}

@media screen and (prefers-reduced-motion:reduce) {
	.modal.fade .modal-dialog {
		transition: none
	}
}

.modal.show .modal-dialog {
	-webkit-transform: none;
	transform: none
}

.modal.in .modal-dialog,
.modal-dialog {
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.modal .modal-frame {
	position: absolute;
	margin: 0;
	width: 100%;
	max-width: 100%;
}

.modal .modal-dialog.modal-top {
	top: 0;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.modal .modal-dialog.modal-bottom {
	top: auto;
	bottom: 0;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.modal-content {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 0;
	border-radius: 0;
	outline: 0;
	color: #616161;
}

.modal-header {
	padding: 20px;
	background: #027faa;
	border: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.modal-header p {
	font-size: 20px;
	color: #fff;
}

.modal-body {
	padding: 24px;
	position: relative;
	font-size: 16px;
}

.modal-footer {
	text-align: center;
	padding: 16px;
}

.modal-footer .btn+.btn {
	margin: 0 10px 10px 0;
}

.modal-frame.modal-bottom .modal-content .modal-body *,
.modal-vid .modal-content .modal-footer * {
	display: inline-block;
}

.modal-frame.modal-bottom .modal-content .modal-body p,
.modal-vid .modal-content .modal-footer p {
	margin-right: 15px;
}

.modal-vid .modal-content .modal-footer .modal-sns {
	margin-right: 30px;
}

/* ----- LIST STYLE 1 ----- */

.list-style1 p {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 18px;
	color: #1197ba;
}

.list-style1 ul {
	border-left: 4px solid #1197ba;
	list-style:  none;
	padding-left: 20px;
}

.list-style1 ul li {
	font-size: 19px;
	margin-bottom: 5px;
}

.list-style1 ul li:hover {
	color: #1197ba;
}


@media (max-width: 991px) {
	.list-style1 ul li {
		font-size: 15px;
		margin-bottom: 20px;
	}
	.list-style1 p {
		font-size: 18px;
	}
}

@media (max-width: 767px) {
	.list-style1 ul {
		margin-bottom: 30px;
	}
}

@media (max-width: 540px) {
	.list-style1 ul li {
		margin-bottom: 5px;
	}
}

/* ----- NUMBER LIST STYLE 1 ----- */

.numlist-style1 {
	padding: 0;
	margin: 0;
	list-style: none;
	display: table;
	width: 100%;
	margin-bottom: 30px;
}

.numlist-style1 li {
	display: inline-block;
	color: #fff;
	background: #015883;
	border-top: 2px solid #85c3d3;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding: 25px;
	position: relative;
	overflow: hidden;
}

.numlist-style1 li:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background: #85c3d3;
	z-index: 0;
	height: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.numlist-style1 li:hover:before {
	bottom: 0;
	height: 100%;
}

.numlist-style1 li span {
	display: block;
	z-index: 1;
	position: relative;
}

.numlist-style1 li span.numscroller {
	font-size: 40px;
	font-weight: 900;
}

.numlist-style1 li span:last-child {
	text-transform: uppercase;
}

@media (max-width:991px) {
	.numlist-style1 {
		display: block;
	}
	.numlist-style1 li {
		display: inline-block;
		width: 160px;
		margin: 0 20px 20px 0;
	}
}
@media (max-width:767px) {
	.numlist-style1 li {
		width: 140px;
	}
}
@media (max-width: 640px) {
	.numlist-style1 li:nth-child(3n) {
		margin-right: 0;
	}
}
@media (max-width:464px) {
	.numlist-style1 li:nth-child(3n) {
		margin-right: 20px;
	}
	.numlist-style1 li:nth-child(2n) {
		margin-right: 0;
	}
	.logo-long-line h2 {
		font-size: 20px;
	}
}
@media (max-width: 413px) {
	.logo-long-line h2 {
		font-size: 18px;
	}
}
@media (max-width: 380px) {
	.logo-long-line h2 {
		font-size: 16px;
	}
}
@media (max-width: 320px) {
	.logo-long-line h2 {
		font-size: 15px;
	}
}

/* ----- SLICK OVERRIDE GENERAL STYLE FOR ALL ----- */
.slick-arrows button {
	position: absolute;
	top: 50%;
	font-size: 40px;
	border: 0;
	box-shadow: 0;
	-webkit-box-shadow: 0;
	color: #737070;
	background: transparent;
	z-index: 1;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.slick-arrows button:hover {
	color:  #2d8fb1;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.slick-arrows button:focus {
	outline: none;
}

.slick-arrows button.slick-prev {
	left: -40px;
}

.slick-arrows button.slick-next {
	right: -40px;
}

.reviews-style2-container .slick-arrows button.slick-prev {
	left: -60px;
}

.reviews-style2-container .slick-arrows button.slick-next {
	right: -60px;
}

.center-slider .slick-arrows button.slick-prev{
	left: 0;
}

.center-slider .slick-arrows button.slick-next {
	right: 0;
}

.slick-list {
	margin-bottom: 20px;
}

.center-slider .slick-list .slick-slide {
	opacity: 0.2;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.center-slider .slick-list .slick-slide.slick-active {
	opacity: 1;
}

.center-slider .slick-arrows {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.center-slider .slick-arrows button {
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	top: 0;
	bottom: 0;
	width: 8%;
	text-align: right;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.center-slider .slick-arrows button:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(../img/assets/slick-centermode-arrow-bg.png);
	background-size: 100% auto;
	background-repeat: repeat-y;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.center-slider .slick-arrows button:hover:before {
	opacity: 1;
}

.center-slider .slick-arrows button.slick-prev {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	background-position: left auto;
}

.slick-dots {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;

}

.slick-dots li {
	display: inline-block;
	margin-right: 14px;
}

.slick-dots li:last-child {
	margin-right: 0;
}

.slick-dots li button {
	background: rgba(0,0,0,0.2);
	border: 0;
	text-indent: -999999999999999999px;
	padding: 0;
	width: 5px;
	height: 5px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	position: relative;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.slick-dots li button:after {
	content: '';
	position: absolute;
	border: 2px solid transparent;
	top: -5px;
	left: -5px;
	width: 15px;
	height: 15px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-o-transform: scale(0.1);
	transform: scale(0.1);
}

.slick-dots li.slick-active button {
	/* background: #2d8fb1; */
	background: transparent;
}

.slick-dots li.slick-active button:after {
	border-color: #2d8fb1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

@media (max-width:1258px) {
	.reviews-style2-container .slick-arrows button.slick-prev {
		left: -35px;
	}
	.reviews-style2-container .slick-arrows button.slick-next {
		right: -35px;
	}
	.reviews-style2-wrap .slick-list .slick-track .slick-slide > div {
		padding: 0 2%;
	}
}
@media (max-width:1208px) {
	.reviews-style2-container .slick-arrows button.slick-prev {
		left: -20px;
	}
	.reviews-style2-container .slick-arrows button.slick-next {
		right: -20px;
	}
}
@media (max-width:1199px) {
	.reviews-style2-wrap .slick-list .slick-track .slick-slide > div {
		padding: 0;
	}
	.reviews-style2-container .slick-arrows button.slick-prev {
		left: -60px;
	}
	.reviews-style2-container .slick-arrows button.slick-next {
		right: -60px;
	}
}
@media (max-width: 1129px) {
	.center-slider .slick-list {
		padding: 0 30px;
	}
}
@media (max-width: 602px) {
	.slick-arrows button.slick-prev {
		left: -30px;
	}
	.slick-arrows button.slick-next {
		right: -30px;
	}
}
@media (max-width: 567px) {
	.slick-arrows button.slick-prev {
		left: 0px;
	}
	.slick-arrows button.slick-next {
		right: 0px;
	}
}
@media (max-width: 453px) {
	.slick-arrows button,
	.center-slider .slick-arrows button {
		top: auto;
		bottom: -15px;
		font-size: 20px;
	}
	.center-slider .slick-arrows button.slick-prev,
	.slick-arrows button.slick-prev {
		left: 15%;
	}
	.center-slider .slick-arrows button.slick-next,
	.slick-arrows button.slick-next {
		right: 15%;
	}
	.center-slider .slick-arrows button  {
		bottom: 0;
	}
}
@media (max-width: 359px) {
	.slick-arrows button.slick-prev {
		left: 5px;
	}
	.slick-arrows button.slick-next {
		right: 5px;
	}
	.slick-dots li {
		-moz-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	.slick-arrows button {
		font-size: 22px;
		bottom: -20px;
	}
}


/* ----- TESTIMONIAL (PC: 3-COLUMN SP: SLIDER) ----- */
.reviews-style1-wrap .slick-list .slick-track .slick-slide > div {
	margin: 0 15px;
}

.reviews-style1-container,
.reviews-style2-container {
	position: relative;
}

.review-style1,
.review-style2 {
	border: 1px solid #e5e5e5;
	border-left: 3px solid #3ab6d8;
	padding: 20px 0 0;
	background: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.review-style2-content {
	padding: 20px 40px 30px;
	display: table;
	width: 100%;
}

.review-style2-content > div {
	display: table-cell;
	vertical-align: middle;
}

.review-style1:hover,
.review-style2:hover {
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

.review-style1 .icon-quote,
.review-style2 .icon-quote {
	display: inline-block;
	color: #2d8fb1;
	font-size: 35px;
	margin-bottom: 10px;
}

.review-style1 .review-style1-quote,
.review-style2 .review-style2-quote {
	padding: 0 30px;
	margin-bottom: 25px;
}

.review-style2 .review-style2-quote {
	padding: 0;
}

.review-style1 .review-style1-quote p,
.review-style2 .review-style2-text .review-style2-quote p {
	color: #2d8fb1;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 10px;
}

.review-style2 .review-style2-text .review-style2-quote p {
	font-size: 21px;
	font-weight: 700;
}

.review-style1 .review-style1-person {
	padding: 0 30px 30px;
	display: table;
	width: 100%;
}

.review-style2 .review-style2-person {
	width: 18%;
	padding: 0;
}

.review-style1 .review-style1-person > div {
	display: table-cell;
	vertical-align: middle;
}

.review-style1 .review-style1-person .review-style1-img-box,
.review-style2 .review-style2-person .review-style2-img-box {
	border-radius:  10px;
	-webkit-border-radius:  10px;
	overflow: hidden;
	width: 80px;
	height: 80px;
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
	position: relative;
}

.review-style2 .review-style2-person .review-style2-img-box {
	width: 150px;
	height: 150px;
}

.review-style1 .review-style1-person .review-style1-img-box img,
.review-style2 .review-style2-person .review-style2-img-box img {
	width: 120%;
	-webkit-transform: rotate(-15deg) translate(-5px,-10px);
	-ms-transform: rotate(-15deg) translate(-5px,-10px);
	-o-transform: rotate(-15deg) translate(-5px,-10px);
	transform: rotate(-15deg) translate(-5px,-10px);
}

.review-style2 .review-style2-person .review-style2-img-box img {
	width: 142%;
	-webkit-transform: rotate(-15deg) translate(-10px,-22px);
	-ms-transform: rotate(-15deg) translate(-10px,-22px);
	-o-transform: rotate(-15deg) translate(-10px,-22px);
	transform: rotate(-15deg) translate(-10px,-22px);
}

.review-style1 .review-style1-person .review-style1-img,
.review-style2 .review-style2-person .review-style2-img {
	position: relative;
	padding-right: 15px;
	width: 35%;
}

.review-style2 .review-style2-person .review-style2-img {
	padding: 0;
}

.review-style1 .review-style1-person .review-style1-img:after,
.review-style2 .review-style2-person .review-style2-img:after {
	content: '';
	position: absolute;
	width: 80px;
	height: 80px;
	border: 2px solid #1196ba;
	top: 7px;
	left: 4px;
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
	border-radius:  10px;
	-webkit-border-radius:  10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.review-style2 .review-style2-person .review-style2-img:after {
	width: 150px;
	height: 150px;
	top: 14px;
	left: 10px;
}

.review-style1:hover .review-style1-person .review-style1-img:after,
.review-style2:hover .review-style2-person .review-style2-img:after {
	top: 0;
	left: 0;
}

.review-style1 .review-style1-person .review-style1-info p,
.review-style2 .review-style2-text .review-style2-info p {
	margin-bottom: 0;
	display: block;
	font-size: 14px;
}

.review-style2 .review-style2-text .review-style2-info p {
	font-size: 16px;
}

.review-style1 .review-style1-person .review-style1-info p:first-child,
.review-style2 .review-style2-text .review-style2-info p:first-child {
	font-weight: 700;
	text-transform: capitalize;
}

.review-style1 a,
.review-style2 a {
	display: block;
	border-radius: 0;
	-webkit-border-radius: 0;
	text-transform: uppercase;
	background: #f7f7f7;
	color: #007eaa;
	margin: 0;
	padding: 10px 8px;
}

.review-style1 a:after,
.review-style2 a:after {
	content: '\f105';
	font-family: 'FontAwesome';
	color: #007eaa;
	margin-left: 10px;
}

.review-style1 a:hover {
	border-color: transparent;
}

@media (max-width:1190px) {
	.review-style2 .review-style2-person {
		width: 22%;
	}
}
@media (max-width:1060px) {
	.reviews-style2-wrap .slick-list .slick-track .slick-slide > div {
		padding: 0 5%;
	}
	.reviews-style2-container .slick-arrows button.slick-prev {
		left: -30px;
	}
	.reviews-style2-container .slick-arrows button.slick-next {
		right: -30px;
	}
	.review-style2 .review-style2-person {
		width: 25%;
	}
}
@media (max-width:991px) {
	
	.review-style2-content {
		display: block;
	}
	.review-style2-content > div {
		display: block;
	}
	.review-style2 .review-style2-person {
		padding: 0;
		display: table;
		width: 100%;
	}
	.review-style2 > .review-style2-content > .review-style2-person {
		display: none;
	}
	.review-style2 .review-style2-person > div {
		display: table-cell;
		vertical-align: middle;
	}
	.review-style2 .review-style2-person .review-style2-img-box {
		width: 80px;
		height: 80px;
	}
	.review-style2 .review-style2-person .review-style2-img-box img {
		width: 120%;
		-webkit-transform: rotate(-15deg) translate(-5px,-10px);
		-ms-transform: rotate(-15deg) translate(-5px,-10px);
		-o-transform: rotate(-15deg) translate(-5px,-10px);
		transform: rotate(-15deg) translate(-5px,-10px);
	}
	.review-style2 .review-style2-person .review-style2-img {
		width: 18%;
	}
	.review-style2 .review-style2-person .review-style2-img:after {
		width: 80px;
		height: 80px;
		top: 7px;
		left: 4px;
	}
}
@media (max-width: 767px) {
	.review-style1 .review-style1-person .review-style1-img {
		width: 25%;
	}
	.review-style2 .review-style2-person .review-style2-img {
		width: 32%;
	}
	.reviews-style1-wrap .slick-list .slick-track .slick-slide > div,
	.reviews-style2-wrap .slick-list .slick-track .slick-slide > div {
		margin: 0 10%;
	}
	.reviews-style2-wrap .slick-list .slick-track .slick-slide > div {
		padding: 0;
	}
	.review-style1 .review-style1-quote,
	.review-style2 .review-style2-quote {
		margin-bottom: 45px;
	}
	.review-style1 .review-style1-person {
		padding-bottom: 40px;
	}
	.review-style1 .icon-quote,
	.review-style2 .icon-quote {
		margin-bottom: 25px;
	}
	.review-style2 .review-style2-text .review-style2-quote p {
		font-size: 16px;
	}
	.review-style2 .review-style2-text .review-style2-info p {
		font-size: 14px;
	}
	.review-style2-content {
		padding-top: 0;
	}
}
@media (max-width: 602px) {
	.reviews-style1-wrap .slick-list .slick-track .slick-slide > div,
	.reviews-style2-wrap .slick-list .slick-track .slick-slide > div {
		margin: 0 5%;
	}
}
@media (max-width: 567px) {
	.reviews-style1-wrap .slick-list .slick-track .slick-slide > div,
	.reviews-style2-wrap .slick-list .slick-track .slick-slide > div {
		margin: 0 10%;
	}
	.review-style2-content {
		padding: 20px 30px 30px;
	}
	.reviews-style2-container .slick-arrows button.slick-prev {
		left: 0;
	}
	.reviews-style2-container .slick-arrows button.slick-next {
		right: 0;
	}
}
@media (max-width: 453px) {
	.review-style1 .review-style1-quote {
		margin-bottom: 20px;
	}
	.reviews-style1-wrap .slick-list .slick-track .slick-slide > div,
	.reviews-style2-wrap .slick-list .slick-track .slick-slide > div {
		margin: 0 15px;
	}
	.reviews-style2-container .slick-arrows button.slick-prev {
		left: 15%;
	}
	.reviews-style2-container .slick-arrows button.slick-next {
		right: 15%;
	}
}



/* ----- BLOG SLIDER (PC: 3-COLUMN CENTER MODE SP: SLIDER) ----- */
.blog-style1-container,
.blog-style2-container {
	position: relative;
}

.blog-style1-wrap .blog-style1 {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.blog-style1-wrap .blog-style1:hover {
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

.blog-style1-wrap .blog-style1 .blog-style1-img {

}

.blog-style1-wrap .blog-style1 .blog-style1-img img {
	width: 100%;
}

.blog-style1-wrap .blog-style1 .blog-style1-content {
	border: 1px solid #e5e5e5;
	border-top: 0;
	border-bottom: 0;
	padding: 15px;
	background: #fff;
}

.blog-style1-wrap .blog-style1 .blog-style1-content .blog-style1-content-top {
	margin-bottom: 8px;
}

.blog-style1-wrap .blog-style1 .blog-style1-content .blog-style1-content-top .blog-style1-title a {
	font-size: 21px;
	font-weight: 600;
	text-transform: none;
	outline: none;
	text-decoration: none;
	color: #484848;
}

.blog-style1-wrap .blog-style1:hover .blog-style1-content .blog-style1-content-top .blog-style1-title a {
	color: #007eaa;
}

.blog-style1-wrap .blog-style1 .blog-style1-content .blog-style1-content-top .blog-style1-title a:hover {
	outline: none;
	text-decoration: none;
}

.blog-style1-wrap .blog-style1 .blog-style1-content .share-bookmark {
	display: table;
	width: 100%;
}

.blog-style1-wrap .blog-style1 .blog-style1-content .share-bookmark > div {
	display: table-cell;
}

.blog-style1-wrap .blog-style1 .blog-style1-content .share-bookmark .blog-style1-title a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #484848;
}

.blog-style1-wrap .blog-style1 .blog-style1-content .share-bookmark .blog-style1-btns {
	width: 20%;
}

.blog-style1-wrap .blog-style1 .blog-style1-content .share-bookmark .blog-style1-btns {
	text-align: right;
}

.blog-style1-wrap .blog-style1 .blog-style1-content .share-bookmark .blog-style1-btns a {
	display: inline-block;
	color: #484848;
	margin-right: 10px;
	font-size: 20px;
	text-decoration: none;
}

.blog-style1-wrap .blog-style1 .blog-style1-content .share-bookmark .blog-style1-btns a:last-child {
	margin-right: 0;
}

.blog-style1-wrap .blog-style1 .blog-style1-content .share-bookmark .blog-style1-btns a:hover,
.blog-style1-wrap .blog-style1 .blog-style1-content .share-bookmark .blog-style1-title a:hover {
	color: #2d8fb1;
}

.blog-style1-wrap .slick-list .slick-track .slick-slide > div {
	margin: 0 15px;
}

.blog-style1-wrap .blog-style1 > a.btn {
	display: block;
	border-radius: 0;
	-webkit-border-radius: 0;
	text-transform: uppercase;
	background: #f7f7f7;
	color: #007eaa;
	margin: 0;
	padding: 10px 8px;
	border: 1px solid #e5e5e5;
	border-top: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.blog-style1-wrap .blog-style1 > a.btn:after {
	content: '\f105';
	font-family: 'FontAwesome';
	color: #007eaa;
	margin-left: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.blog-style1-wrap .blog-style1 > a.btn:hover {
	border-color: transparent;
}

.blog-style1-wrap .blog-style1:hover > a.btn:after {
	color: #fff;
}

.blog-style1-wrap .blog-style1:hover a.btn {
	background: #007eaa;
	color: #fff;
}

.logo-long-line  h2{
	color: #fff;
	display: inline-block;
}

.logo-long-line  h2:before {
	left: -20vw;
}

@media (max-width: 576px) {
	.blog-style1-wrap .slick-list .slick-track .slick-slide > div {
		margin: 0 10%;
	}
}

/* ----- ICONS STRUCTURE ----- */

.icon-listing {
	margin: 0;
	padding: 0;
	list-style: none;
}
.icon-listing li {
	display: inline-block;
	text-align: center;
	width: 23%;
	margin: 0 15px 30px 0;
}
.icon-listing li:nth-child(4n){
	margin-right: 0;
}
.icon-listing li span,
.icon-listing li input {
	display: block;
}
.icon-listing li span {
	font-size: 40px;
	margin-bottom: 20px;
}
.icon-listing li.logo span {
	font-size: 25px;
}
.icon-listing li.logo2 span {
	font-size: 80%;
}
.icon-listing li input {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #484848;
	outline: none;
	width: 100%;
	padding: 7px 5px;
	background: rgba(0,0,0,0.1);
}

/* ----- HELPERS CLASSES ----- */
.m0 {margin: 0;}
.p0 {padding: 0;}

.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb30 {margin-bottom: 30px;}
.mb40 {margin-bottom: 40px;}
.mb50 {margin-bottom: 50px;}
.mb60 {margin-bottom: 60px;}
.mb70 {margin-bottom: 70px;}
.mb80 {margin-bottom: 80px;}
.mb90 {margin-bottom: 90px;}
.mb100 {margin-bottom: 100px;}

.op08 {opacity: 0.8;}
.op07 {opacity: 0.7;}
.op06 {opacity: 0.6;}
.op05 {opacity: 0.5;}
.op04 {opacity: 0.4;}
.op03 {opacity: 0.3;}
.op02 {opacity: 0.2;}
.op01 {opacity: 0.1;}

.font-white {color: #fff;}
.font-black {color: #484848;}
.font-darkestblue {color: #005883;}
.font-darkblue {color: #027faa;}
.font-blue {color: #1196ba;}
.font-lightblue {color: #3fcaeb;}
.font-orange {color: #ff7510;}
.font-lightorange {color: #ff9750;}
.font-lime {color: #ff9750;}
.font-lightlime {color: #96d42b;}
.font-darkgray {color: #20282b;}
.font-lightgray {color: #747d82;}