@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a8zc4z');
  src:  url('fonts/icomoon.eot?a8zc4z#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a8zc4z') format('truetype'),
    url('fonts/icomoon.woff?a8zc4z') format('woff'),
    url('fonts/icomoon.svg?a8zc4z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-arrow:before {
  content: "\e920";
}
.icon-down-arrow:before {
  content: "\e921";
}
.icon-left-arrow:before {
  content: "\e922";
}
.icon-right-arrow:before {
  content: "\e923";
}
.icon-calculator-check:before {
  content: "\e901";
}
.icon-certificate-award:before {
  content: "\e900";
}
.icon-bulb-idea:before {
  content: "\e902";
}
.icon-rocket:before {
  content: "\e903";
}
.icon-graph-upwards:before {
  content: "\e904";
}
.icon-team-leader:before {
  content: "\e905";
}
.icon-pc-code:before {
  content: "\e906";
}
.icon-team-world:before {
  content: "\e907";
}
.icon-window-infinite:before {
  content: "\e908";
}
.icon-team:before {
  content: "\e909";
}
.icon-hands-shake:before {
  content: "\e90a";
}
.icon-man-cog:before {
  content: "\e90b";
}
.icon-lenovo:before {
  content: "\e90c";
}
.icon-yelp:before {
  content: "\e90d";
}
.icon-bill-melinda:before {
  content: "\e90e";
}
.icon-box-logo:before {
  content: "\e90f";
}
.icon-codie:before {
  content: "\e910";
}
.icon-aws:before {
  content: "\e911";
}
.icon-scale-grow:before {
  content: "\e912";
}
.icon-point-click:before {
  content: "\e913";
}
.icon-deploy:before {
  content: "\e914";
}
.icon-emory:before {
  content: "\e915";
}
.icon-kaiser:before {
  content: "\e916";
}
.icon-mnsure:before {
  content: "\e917";
}
.icon-ucla:before {
  content: "\e918";
}
.icon-yale-med:before {
  content: "\e919";
}
.icon-microsoft_partner:before {
  content: "\e91a";
}
.icon-forrester:before {
  content: "\e91b";
}
.icon-bayer:before {
  content: "\e91c";
}
.icon-BlueCross:before {
  content: "\e91d";
}
.icon-check-mark-button:before {
  content: "\e91e";
}
.icon-quote:before {
  content: "\e91f";
}
